* {
  font-family: monospace;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 2%;
}

textarea {
  resize: none;
  word-wrap: break-word;
  background-color: rgb(246, 246, 246);
}

mark {
  background-color: rgb(149, 20, 254);
  color: azure;
}

code {
  background-color: #181818;
  padding: 1mm;
  color: rgb(222, 255, 34);
  border-radius: 0.25em;
  overflow: auto;
}

pre {
  line-height: 1.8em;
  color: rgb(239, 161, 255);
}

.preview-blockquote {
  border-left: 4px solid rgb(149, 20, 254);
  padding: 0.5em 0 0.5em 1em;
  margin: 0;
}

.working-area-box {
  width: 48vw;
  padding: 4%;
  word-wrap: break-word;
}

#preview img {
  max-width: 100%;
}

#preview {
  margin: 0;
  padding: 0;
}

#editor {
  width: 100%;
  height: 100%;
}